* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  width: 100vw;
  height: 100vh;
}

input::placeholder {
  color: white ;
}


.bg-primary{
    background-color: #5b6be8 !important;
}

a:hover{
    text-decoration: none;

}

.User-table::-webkit-scrollbar-button {
    display: none;
}
